body {
  font-family: open sans;
  background-color: #0b032d;
  color: #ffb997;
}

#momDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#currentScore {
 display: none;
  justify-content: center;
  background-color: #b5838d;
  border-radius: 10%;
  border-style: solid;
  border-color: #0b032d;
  padding: 0.5vh;
  font-size: 2.8vh;
}

#resetButton {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  padding-bottom: 1vh;
}

#cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: #ffb997;
  width: 32vw;
  height: 70vh;
}

#nucleus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b5838d;
  border-radius: 5%;
  border-style: solid 1px;
  width: 27vw;
  height: 60vh;
  color: #0b032d;
  font-size: 2.75vh;
}

#players {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#visibleNucleolus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 27vw;
  height: 60vh;
}

#hiddenNucleolus1 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27vw;
  height: 60vh;
  color: #0b032d;
}

#hiddenNucleolus2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 27vw;
}

#row1,
#row2,
#row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 27vw;
  height: 20vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 20vh;
  border-style: groove;
  border-color: #74546a;
  border-radius: 5%;
  font-size: 14vh;
  background-color: #b5838d;
}

button {
  font-size: 2.5vh;
  border-radius: 30%;
  background-color: #ffb997;
  font-weight: 550;
  color: #0b032d;
}

#turnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

#messageBox {
  display: none;
  justify-content: center;
  background-color: #b5838d;
  border-radius: 10%;
  border-style: solid;
  border-color: #0b032d;
  padding: 0.5vh;
  font-size: 2.75vh;
}
