body {
  background-color: #25283d;
  font-family: Raleway;
  color: #efd9ce;
  font-size: 4vh;
}

.heading {
  text-align: center;
  font-size: 10vh;
  font-weight: 500;
  padding-top: 7.5vh;
  padding-bottom: 2vh;
  width: 85vw;
  margin: auto;
  font-family: "Fredericka the Great";
}

#box2 {
  margin: auto;
  width: 85vw;
  font-size: 4vh;
  font-weight: 550;
}

.logo {
  border-radius: 50%;
  height: 10vh;
}

.col-xs-6 {
  font-size: 4vh;
}

.row {
  border: groove;
}
