body,
.text {
  background: linear-gradient(90deg, #ee2e31, #f4c095, #679289);
  font-weight: 550;
  text-align: center;
  font-family: Raleway;
  font-size: 3vh;
}

#two {
  padding-top: 38vh;
}

#random {
   color: #071e22;
   font-weight: 500;
}

.row {
  padding-bottom: 5vh;
}

.search-query {
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

.btn-info {
  border-radius: 0px 30px 30px 0px;
}

.pad {
  padding-top: 1.5vh;
  padding-bottom: 1vh;
}

.queryBox {
  text-align: left;
}

.marge {
  margin-left: 20px;
}

.borderColor {
  border-style: groove;
  padding: 3px 0px 2px 0px;
}
