.momDiv {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cairo;
  height: 100vh;
  background-color: dimgray;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85vh;
  width: 22vw;
  background-color: lightgray;
  border-radius: 20px;
  font-weight: bold;
  border-color: lightgrey;
  border-style: groove;
}

#headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4vh;
  color: darkslategray;
}

#display {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  width: 21.25vw;
  border-style: solid;
  border-color: lightgray;
  border-width: 0px 3px 0px 9px;
  border-radius: 20px:
}

#entryScreen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 8vh;
  font-size: 6vh;
}

.row {
  display: flex;
  justify-content: space-around;
}


.square {
  height: 7.5vh;
  width: 4vw;
  border-radius: 20px;
  font-size: 4vh;
  background-color: darkslategray;
  color: white;
}

.squareRed {
  background-color: maroon;
  border-radius: 20px;
  height: 7.5vh;
  width: 4vw;
  color: white;
  font-size: 3vh;
}

#equalsign {
  display: flex;
  justify-content: flex-end;
  font-size: 4vh;
}

.equal {
  border-radius: 20px;
  background-color: darkslategray;
  color: white;
  height: 13vh;
  width: 4vw;
  z-index: 2;
  position: abolute;
}

.no-show {
  visibility: hidden;
  width: 4vw;
}
.hrectangle {
  border-radius: 20px;
  height: 7.5vh;
  width: 8vw;
  font-size: 4vh;
  background-color: darkslategray;
  color: white;
}

#test {
  width: 4vw;
  height: 5vh;
}
