body {
  background-color: black;
  font-family: orbitron;
  font-size: 1.5vh;
}

#cellWall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#cellMembrane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 52.5vh;
  width: 22.5vw;
}

#row1,
#row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 26.25vh;
  width: 22.5vw;
}

#momOverlap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.75vh;
  width: 22.5vw;
  position: absolute;
}

#signHolder {
  height: 9vh;
}

#sign {
  font-size: 9vh;
  height: 9vh;
  text-shadow: 0.385vw 0.385vw 0.385vw #929fad;
  font-family: Monoton, "fredericka the great";
}

#overlap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 33.75vh;
  width: 16.875vw;
  border-radius: 25%;
  background-color: white;
  opacity: 0.95;
  z-index: 3;
  border-style: solid;
  border-color: #929fad;
}

.nucleus {
  height: 28vh;
  width: 11.25vw;
  z-index: 1;
  border: none;
  border-radius: 20%;
}

#green {
  background-color: transparent;
  background: linear-gradient(120deg, limegreen, transparent);
  box-shadow: -3.75vh -3.75vh 3vh 3.375vh limegreen;
}

.active {
  transform: scale(1.25);
}

#green:active {
  transform: scale(1.25);
  background: linear-gradient(120deg, limegreen, #c1fcc1);
  z-index: 2;
}

#red {
  background-color: transparent;
  background: linear-gradient(45deg, transparent, red);
  box-shadow: 3.75vh -3.75vh 3vh 3.375vh red;
}

#red:active {
  transform: scale(1.25);
  background: linear-gradient(45deg, #ffb732, red);
  z-index: 2;
}

#yellow {
  background-color: transparent;
  background: linear-gradient(220deg, transparent, yellow);
  box-shadow: -3.75vh 3.75vh 3vh 3.375vh yellow;
}

#yellow:active {
  transform: scale(1.25);
  background: linear-gradient(220deg, cornsilk, yellow);
  z-index: 2;
}

#blue {
  background-color: transparent;
  background: linear-gradient(150deg, transparent, blue);
  box-shadow: 3.75vh 3.75vh 3vh 3.375vh blue;
}

#blue:active {
  transform: scale(1.25);
  background: linear-gradient(150deg, #a4d2f3, blue);
  z-index: 2;
}

button {
  color: white;
  font-size: 2vh;
  font-weight: 550;
  height: 3vh;
  font-family: orbitron;
  box-shadow: 0.325vw 0.325vw 0.325vw #9fabb7;
}

.middleButtons {
  height: 4vh;
  width: 2.25vw;
  border-radius: 50%;
}

#count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e0000;
  color: tomato;
  border-radius: 20%;
  font-size: 3.9375vh;
  height: 4.5vh;
  width: 4.5vw;
  border-style: solid;
  border-color: slategrey;
}

@keyframes blinkingText {
  0% {
    color: tomato;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: tomato;
  }
}

.countBlink {
  animation: blinkingText 0.9s infinite;
}

#start {
  background-color: #bf0000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#strict {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

#off {
  background-color: #3951ef;
  border-radius: 20%;
}

#on {
  background-color: lightslategrey;
  border-radius: 20%;
}

#rowButtons {
  display: flex;
  justify-content: space-around;
  width: 16.875vw;
  height: 7.5vh;
  flex-direction: row;
}

.buttonColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#strictOn {
  background-color: yellow;
  border-radius: 50%;
  height: 2.125vh;
  width: 1.75vw;
}

#victoryHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#victory {
  font-size: 10vh;
  color: white;
  font-weight: 600;
  z-index: 4;
}
