body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(360deg, skyblue, white);
}

div {
  color: black;
  text-align: center;
  font-family: Raleway;
  font-size: 1.6vw;
}

.btn {
  font-size: 1.2vw;
  font-family: Raleway;
  border-radius: 40%;
}

h1 {
  font-size: 3.5vw;
  font-weight: 600;
}

.writing {
  padding-top: 20vh;
}
.get-location,
.row,
.get-weather {
  padding-top: 2.5vh;
}
